<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-3">
    <%= render "subnav" %>
  </div>
  <div class="col-md-9">

  </div>
</div>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
